<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/style.css">
        <body>
            <div class="maindiv">
            {{>header}}
            <p>{{error}}</p>
            </div>
            {{>footer}}
        </body>
    </head>
</html>