<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
            <link rel="icon" href="/img/download.png">
            <link rel="stylesheet" href="/css/style.css">
        <body>
            <div class="maindiv">
            {{>header}}
            <p>{{message}}</p>
            </div>
            {{>footer}}
        </body>
    </head>
</html>